@{
  ViewData["Title"] = "Demo Page";
}

<div class="text-center">
  <p>
    Result 1: @ViewBag.result1
    <br />
    Result 2: @ViewBag.result2
    <br />
    Result 3: @ViewBag.result3
    <br />
    Result 4: @ViewBag.result4
    <br />
    Result 5: @ViewBag.result5
  </p>
</div>